<ng-container *ngIf="!(isLoading$ | async); else isLoadingDiv">
  <div class="container">
    <h1>NgRx Testing</h1>
    <div *ngFor="let person of (people$ | async)" class="person">
      <img class="person__avatar" [src]="person.avatar" alt="">
      <div class="person__info">
        <h3 [ngClass]="'title__'+person.id">{{ person.name }}</h3>
        <p>Member since: {{ person.createdAt | date: 'dd/MM/yy' }}</p>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #isLoadingDiv>
  <div class="container" id="loading">
    <h2>Loading ...</h2>
  </div>
</ng-template>